/* Passos na caverna */
.animacao_passos_caverna {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
/* Chrome, Safari, Opera */
	-webkit-animation-timing-function: ease;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
/* Standard syntax */
	animation-timing-function: ease;
	animation-direction: normal;
	animation-play-state: running;
/**/
	-webkit-animation-name: quadros_animacao_passos_caverna;
	animation-name: quadros_animacao_passos_caverna;	
}

@-webkit-keyframes quadros_animacao_passos_caverna {
  from {
	top:0px;
  }
50%{
	top:-20px;	
	
}

  to {
	top:0px;
  }
}


@keyframes quadros_animacao_passos_caverna {
  from {
	top:0px;
  }
50%{
	top:-20px;	
	
}

  to {
	top:0px;
  }
}

/* Movimento na caverna */
.animacao_movimento_caverna {
  -webkit-animation-duration: 70s;
  animation-duration: 70s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
/* Chrome, Safari, Opera */
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
/* Standard syntax */
	animation-timing-function: linear;
	animation-direction: normal;
	animation-play-state: running;
/**/
	-webkit-animation-name: quadros_animacao_movimento_caverna;
	animation-name: quadros_animacao_movimento_caverna;	
}

@-webkit-keyframes quadros_animacao_movimento_caverna {
  from {
	left:-1px;
 }
  to {
	left:-2400px;
  }
}

@keyframes quadros_animacao_movimento_caverna {
  from {
	left:-1px;
 }
  to {
	left:-2400px;
  }
}

/* Aproximação da porta */
.animacao_aproxima_porta_0s {
  -webkit-animation-duration: 1ms;
  animation-duration: 1ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
/* Chrome, Safari, Opera */
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
/* Standard syntax */
	animation-timing-function: linear;
	animation-direction: normal;
	animation-play-state: running;
/**/
	-webkit-animation-name: quadros_animacao_aproxima_porta;
	animation-name: quadros_animacao_aproxima_porta;	
}

.animacao_aproxima_porta {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
/* Chrome, Safari, Opera */
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
/* Standard syntax */
	animation-timing-function: linear;
	animation-direction: normal;
	animation-play-state: running;
/**/
	-webkit-animation-name: quadros_animacao_aproxima_porta;
	animation-name: quadros_animacao_aproxima_porta;	
}

@-webkit-keyframes quadros_animacao_aproxima_porta {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
	background-position: 0px 0px;	
 }
  to {
    -webkit-transform: scale3d(1.35, 1.35, 1.35);
    -ms-transform: scale3d(1.35, 1.35, 1.35);
    transform: scale3d(1.35, 1.35, 1.35);
	background-position: 30px 40px;		
  }
}

@keyframes quadros_animacao_aproxima_porta {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
	background-position: 0px 0px;	
 }
  to {
    -webkit-transform: scale3d(1.35, 1.35, 1.35);
    -ms-transform: scale3d(1.35, 1.35, 1.35);
    transform: scale3d(1.35, 1.35, 1.35);
	background-position: 30px 40px;	
  }
}
/* Afastamento da porta */
.animacao_afasta_porta {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
/* Chrome, Safari, Opera */
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
/* Standard syntax */
	animation-timing-function: linear;
	animation-direction: normal;
	animation-play-state: running;
/**/
	-webkit-animation-name: quadros_animacao_afasta_porta;
	animation-name: quadros_animacao_afasta_porta;	
}

@-webkit-keyframes quadros_animacao_afasta_porta {
  from {
   -webkit-transform: scale3d(1.35, 1.35, 1.35);
    -ms-transform: scale3d(1.35, 1.35, 1.35);
    transform: scale3d(1.35, 1.35, 1.35);
	background-position: 30px 40px;		
 }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
	background-position: 0px 0px;
  }
}

@keyframes quadros_animacao_afasta_porta {
  from {
   -webkit-transform: scale3d(1.35, 1.35, 1.35);
    -ms-transform: scale3d(1.35, 1.35, 1.35);
    transform: scale3d(1.35, 1.35, 1.35);
	background-position: 30px 40px;		
 }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
	background-position: 0px 0px;
  }
}



/* Giro chave trapezio */
.animacao_giro_chave_trapezio {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
/* Chrome, Safari, Opera */
	-webkit-animation-timing-function: ease;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
/* Standard syntax */
	animation-timing-function: ease;
	animation-direction: normal;
	animation-play-state: running;
/**/
	-webkit-animation-name: quadros_animacao_giro_chave_trapezio;
	animation-name: quadros_animacao_giro_chave_trapezio;	
}

@-webkit-keyframes quadros_animacao_giro_chave_trapezio {
  from {
	background-size:240px 103px;	
 }
  to {
	background-size:232px 63px;
  }
}

@keyframes quadros_animacao_giro_chave_trapezio {
  from {
	background-size:240px 103px;	
 }
  to {
	background-size:232px 63px;
  }
}


.teste_porta{
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    -ms-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
	background-position: 57px -69px !important; 
	
}


/* Zoom para próximo exercício */
.animacao_zoom_proximo_exercicio {
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
/* Chrome, Safari, Opera */
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
/* Standard syntax */
	animation-timing-function: linear;
	animation-direction: normal;
	animation-play-state: running;
/**/
	-webkit-animation-name: quadros_animacao_zoom_proximo_exercicio;
	animation-name: quadros_animacao_zoom_proximo_exercicio;	
}

@-webkit-keyframes quadros_animacao_zoom_proximo_exercicio {
  from {
   -webkit-transform: scale3d(1.35, 1.35, 1.35);
    -ms-transform: scale3d(1.35, 1.35, 1.35);
    transform: scale3d(1.35, 1.35, 1.35);
	background-position: 30px 40px;		
 }
  to {
   -webkit-transform: scale3d(4, 4, 4);
    -ms-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4);
	background-position: 179px 125px;		
  }
}

@keyframes quadros_animacao_zoom_proximo_exercicio {
  from {
   -webkit-transform: scale3d(1.35, 1.35, 1.35);
    -ms-transform: scale3d(1.35, 1.35, 1.35);
    transform: scale3d(1.35, 1.35, 1.35);
	background-position: 30px 40px;		
 }
  to {
   -webkit-transform: scale3d(4, 4, 4);
    -ms-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4);
	background-position: 179px 125px;		
  }
}

/* Zoom para próximo exercício */
.animacao_zoom_proximo_exercicio_elementos {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
/* Chrome, Safari, Opera */
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
/* Standard syntax */
	animation-timing-function: linear;
	animation-direction: normal;
	animation-play-state: running;
/**/
	-webkit-animation-name: quadros_animacao_zoom_proximo_exercicio_elementos;
	animation-name: quadros_animacao_zoom_proximo_exercicio_elementos;	
}

@-webkit-keyframes quadros_animacao_zoom_proximo_exercicio_elementos {
  from {
   -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);

 }
  to {
   -webkit-transform: scale3d(4, 4, 4);
    -ms-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4);

  }
}

@keyframes quadros_animacao_zoom_proximo_exercicio_elementos {
  from {
   -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);

 }
  to {
   -webkit-transform: scale3d(4, 4, 4);
    -ms-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4);

  }
}



/* Chave errada */
.animacao_chave_errada {
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
/* Chrome, Safari, Opera */
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
/* Standard syntax */
	animation-timing-function: linear;
	animation-direction: normal;
	animation-play-state: running;
/**/
	-webkit-animation-name: quadros_animacao_chave_errada;
	animation-name: quadros_animacao_chave_errada;	
}

@-webkit-keyframes quadros_animacao_chave_errada {
  from {
	left:170px;
	top:266px;	
 }
 50%{
	left:164px;
	top:270px;
 }
  to {
	 left:170px;
	top:266px;
  }
}

@keyframes quadros_animacao_chave_errada {
  from {
	left:170px;
	top:266px;	
 }
 50%{
	left:164px;
	top:270px;
 }
  to {
	 left:170px;
	top:266px;
  }
}


/* Aproximação conclusão erros */
.animacao_conclusao_erros {
  -webkit-animation-duration: 26s;
  animation-duration: 26s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
/* Chrome, Safari, Opera */
	-webkit-animation-timing-function: ease;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
/* Standard syntax */
	animation-timing-function: ease;
	animation-direction: normal;
	animation-play-state: running;
/**/
	-webkit-animation-name: quadros_animacao_conclusao_erros;
	animation-name: quadros_animacao_conclusao_erros;	
}

@-webkit-keyframes quadros_animacao_conclusao_erros {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
	background-position: 0px 0px;

 }
  to {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    -ms-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
	background-position: 0px -70px;

  }
}

@keyframes quadros_animacao_conclusao_erros {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
	background-position: 0px 0px;

 }
  to {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    -ms-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
	background-position: 0px -70px;

  }
}

/* Queda chave errada */
.animacao_queda_chave {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
/* Chrome, Safari, Opera */
	-webkit-animation-timing-function: linera;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
/* Standard syntax */
	animation-timing-function: linear;
	animation-direction: normal;
	animation-play-state: running;
/**/
	-webkit-animation-name: quadros_animacao_queda_chave;
	animation-name: quadros_animacao_queda_chave;	
}

@-webkit-keyframes quadros_animacao_queda_chave {
  from {
	top:315px;
	left:337px;
  }
  to {
	top:666px;
	left:337px;
  }
}


@keyframes quadros_animacao_queda_chave {
  from {
	top:315px;
	left:337px;
  }
  to {
	top:666px;
	left:337px;
  }
}